/*
základní syntaxe CSS
selector{
vlastnost-1:hodnota;
vlastnost-2:hodnota;
vlastnost-3:hodnota;
vlastnost-4:hodnota;
}


*/

body{
    background-color: aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
}